<h2><%= @user.name %></h2>
<% if @user.created_events.any? %>
  <h3>Created events</h3>
  <ul>
    <% @user.created_events.each do |event| %>
      <li><%= link_to event.title, event_path(event.id) %></li>
    <% end %>
  </ul>
<% end %>

<% if @user.attended_events.any? %>
  <h3>Attended events</h3>
  <ul>
    <% if @user.attended_events.where(date: ...(Date.today)).any? %>
      <li>
        <h4>Occured in the past</h4>
        <ul>
          <% @user.attended_events.where(date: ...(Date.today)).each do |event| %>
            <li><%= link_to event.title, event_path(event.id) %> (<%= event.date %>)</li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if @user.attended_events.where(date: (Date.today)..).any? %>
      <li>
        <h4>Will occur in the future</h4>
        <ul>
          <% @user.attended_events.where(date: (Date.today)..).each do |event| %>
            <li><%= link_to event.title, event_path(event.id) %> (<%= event.date %>)</li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @user.pending_attendance_events.any? %>
  <h3>Pending Attendance Requests</h3>
  <ol>
    <% @user.pending_attendance_events.each do |event| %>
      <li><%= link_to event.title, event_path(event.id) %></li>
    <% end %>
  </ol>
<% end %>

<br/>

<% if @user.invited_events.any? %>
  <h3>Invitations to events</h3>
  <ol>
    <% @user.invited_events.each do |event| %>
      <li>
        <%= link_to event.title, event_path(event.id) %>
        (<%= event.date %>)
        <%= button_to "accept", invitation_accept_path(id: Invitation.find_by(invited_event_id: event.id, 
                                      invited_user_id: @user.id).id) %>
        <%= button_to "decline", invitation_path(Invitation.find_by(invited_event_id: event.id, 
                                              invited_user_id: @user.id).id), method: :delete %>
      </li>
    <% end %>
  </ol>
<% end %>