<h1>Events</h1>
<%= link_to "Create An Event", new_event_path %>
<ul>
  <li>
    <h2>Upcoming events</h2>
    <ul>
      <% Event.upcoming.each do |event| %>
        <li>
          <h3><%= link_to event.title, event_path(event.id) %></h3>
          <h3><%= event.date %></h3>
        </li>
        <br/>
      <% end %>
    </ul>
  </li>
  <li>
    <h2>Past events</h2>
    <ul>
      <% Event.past.each do |event| %>
        <li>
          <h3><%= link_to event.title, event_path(event.id) %></h3>
          <h3><%= event.date %></h3>
        </li>
        <br/>
      <% end %>
    </ul>
  </li>
</ul>