<h1><%= @event.title %></h1>
<h2><%= @event.date %></h2>

<% if user_signed_in? %>
  <% if current_user.created_events.ids.include?(@event.id) %>
    <h3><%= link_to "Edit Event", edit_event_path %></h3>
    <% if @event.not_approved_attendees.any? %>
      <h2>Pending requests</h2>
      <ol>
        <% @event.not_approved_attendees.each do |person| %>
          <li>
            <%= person.name %>
            <%= button_to "Accept", event_attendee_path(EventAttendee.find_by(attended_event_id: @event.id,
                                                  attendee_id: person.id).id), method: :patch %>
          </li>
        <% end %>
      </ol>
    <% end %>
    <h3><%= link_to "Invite Users", new_invitation_path(id: @event.id) %></h3>

    <% if @event.invited_users.any? %>
      <h2>A list of invited users</h2>
      <ul>
        <% @event.invited_users.each do |user| %>
          <li><%= link_to user.name, user_path(user.id) %></li>
        <% end %>
      </ul>
      <br/>
    <% end %>

  <% else %>
    <% if current_user.attended_events.ids.include?(@event.id) %>
      <%= button_to 'Not Attend', event_attendee_path(EventAttendee.find_by(attended_event_id: @event.id,
                                                attendee_id: current_user).id), method: :delete %>
    <% else %>
      <% if current_user.pending_attendance_events.ids.include?(@event.id) %>
        <%= button_to 'Cancel Attendance Request', event_attendee_path(EventAttendee.find_by(attended_event_id: @event.id,
                                                  attendee_id: current_user).id), method: :delete %>
      <% else %>
        <%= button_to 'Request Attendance', event_attendees_path("event_attendee[attendee_id]": current_user.id, 
                                              "event_attendee[attended_event_id]": @event.id), method: :post %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <h4><%= link_to "Sign in to attend an event", new_user_session_path %></h4>
<% end %>

<h2>A list of attendees</h2>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= link_to attendee.name, user_path(attendee.id) %></li>
  <% end %>
</ul>